body,
html {
  height: 100%;
  font-size: 14px;
  font-family: 'PingFang SC', Microsoft YaHei, '微软雅黑', Tahoma, Arial, HeiTi,
    '黑体', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
i {
  font-style: normal;
}
p,
body,
ul,
figure {
  padding: 0px;
  margin: 0px;
}
input {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
body {
  overflow: hidden;
  padding: 0 !important;
}
.el-form-item {
  margin-bottom: 5px !important;
}
.el-dialog__body {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.el-dialog {
  margin-top: 0 !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ccc;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-image: url('../bg.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0F084F;

  header {
    .logo {
      display: block;
      height: 48px;

      img {
        display: inline-block;
        height: 48px;
      }
    }
  }

  .mask {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  // header {
  //   justify-content: space-between;
  //   display: flex;
  //   position: absolute;
  //   width: 100%;
  //   height: 50px;
  //   bottom: 0;
  //   line-height: 50px;
    
  //   .start {
  //     right: 20px;
  //     margin-top: 2px;
  //     background-color: #2941c0;
  //     border-color: #2941c0;
  //   }
  //   .audio {
  //     position: absolute;
  //     left: 90px;
  //   }
  // }
  .bounce-enter-active {
    animation: bounce-in 1.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0s reverse;
  }
}

.flex {
  display: flex;

  &-item {
    display: flex-item;
  }
}
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.el-button {
  &--text i {
    font-size: 24px;
  }
}

// padding
.p {
  &-2 { padding: 8px; }
  &-6 { padding: 24px; }
}